
nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 30px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}


nav ul .navLinkes{
    color: black;
    display: inline;
    margin:0px 10px 0px 10px 
}

nav ul .navLinkes:hover{
    background:black;
    opacity: 0.5;
    cursor: pointer;
    color: white;
}

.ProfileCon{
    height: 80vh;
    background-color: bisque;
    text-align: center;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly; */
}

.ProfilePicCon{
    height:200px;
    width: 200px;
    border:1px solid black;
    border-radius: 10%;
  
}

.AboutCon{
    border:1px solid black;
    height:200px;
    width: 300px;
    border-radius: 10%;
    /* margin:20px 0px 0px 0px; */
}

.Post{
    width: 100px;
}