.header{
    border:1px solid black;
    margin: 0;
    width: 100vw;
    height: 10vh;
}

h1{
    margin-left:20px;
}

.menu{
    list-style: none;
    float: right;
    width: 200px;
    text-align: center;
    margin: -5vh 20px 0px 0px;
    background-color: black;
    color: white;
}

.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.menu ul li{
    display: none;
    background-color: black;
    color: white;
    margin:20px 0px 0px 0px;
}

.menu:hover{
    cursor: pointer;
    color: blueviolet;
}

.menu:hover ul li{
    cursor: pointer;
    display: block;
}

.menu ul li:hover{
    color: blueviolet;
}





