
.loginCon{
   display: flex;
   justify-content: center;
   text-align: center;
}

.loginform{
   margin:15vh 0px 0px 0px;
   border: 1px solid black;
   height:50vh;
   width: 300px;
   border-radius: 5%;

}

input{
   width: 250px;
   margin-bottom:5%;
   height:40px;
   background:white;
   color:black;
   text-align: center;
}

.Email{
  margin-top: 5%;
}


.modalLinks{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5%;
   border: 2px solid black;
   width: 250px;
   height:40px;
   margin-left: 25px;
   font-size: 15px;
}

.modalLinks:hover{
   scale:1.05;
}

a{
   all: unset;  
}







